
HospitalVENV/Hospital/__pycache__/__init__.cpython-312.pyc
HospitalVENV/Hospital/__pycache__/__init__.cpython-312.pyc
HospitalVENV/Hospital/__pycache__/apps.cpython-312.pyc
HospitalVENV/Hospital/__pycache__/database.cpython-312.pyc
*.pyc
*.pyc
*.pyc
