.container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 700px;
    background: linear-gradient(to bottom, #F2CED8 50%, #0487d9);
    border-radius: 47px;
}

.row {
    margin-bottom: 10px;
}

.col {
    display: flex;
    align-items: center;
}
.label {
    display: inline-block;
    width: 100px; 
}

.input {
    flex: 1;
    margin-right: 10px;
    border-radius: 40px;
    height: 40px;
    size:20px;
    font-family: 'Poppins', sans-serif;
    border-style: solid;
}

.spacer {
    margin-right: 20px; 
}
.col select {
    margin-right: 10px; 
    height:40px ;
    font-family: 'Poppins', sans-serif;
}
.time-select {
    width: 150px; 
    border-radius: 40px;
    border-style: solid;
}
.icon{
    width:20px;
    height: 20px;
    padding-right: 5px;
    color: #ff66b2;
}
.heading{
    color: #0487d9;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.button-container {
    display: flex;
    justify-content: flex-end; 
}

.btn-cancel,
.btn-submit {
    background-color: #ff66b2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 13px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}


.btn-cancel:hover,
.btn-submit:hover {
    --bs-btn-hover-bg: whitesmoke transparent;
    --bs-btn-hover-border-color: 1px solid whitesmoke;
    transform: translateY(-8px);
}