* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}
header {
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: #F2CED8;
}
body {
  background-color: white;
}
.logo-name {
  float: left
}
.logo-name img {
  max-width: 55px;
  float: left;
  margin: 0 10px 0 0;
}
.logo-name a {
  font-size: 30px;
  font-weight: 700;
  color: #0487d9;
  text-decoration: none;
}
.navlist {
  display: flex;
  margin-top: 15px;
}
.navlist a{
  color: #0487d9;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
  text-decoration: none;
}
.navlist a:hover{
  border-bottom: 2px solid #0487d9;
}
header .btn-primary {
  font-size: 20px;
  margin-right: 25px;
  background-color: #ff66b2;
  border-color: #ff66b2;
  color: white;
  text-transform: uppercase;
  transition: all 0.55s ease;
  --bs-btn-padding-x: 1rem;
}
header button:hover {
  --bs-btn-hover-bg: whitesmoke transparent;
  --bs-btn-hover-border-color: 1px solid whitesmoke;
  transform: translateY(-8px);
}
header .btn-primary a{
  color: white;
  text-decoration: none;
  font-size: 20px
}
section {
  padding: 0 2%;
}
.displaybox {
  height: 80%;
  width: 80%;
  min-height: 75vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 2rem;
  background-color: rgba(4, 135, 217, 0.3);
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 47px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.textbox {
  line-height: 0.75cm;
  display: block;
}
.textbox h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.textbox p {
  border-bottom: 2px solid black;
  font-size: 16px;
}
.textbox h6{
  font-size: 20px;
}
.doctorimg {
  margin-top: 20%;
  margin-left: 35%;
}
.doctorimg img{
  border: 2px solid black;
  border-radius: 47px;
  width: 70%;
  height: 100%;
}
.doctorbutton {
  padding-top: 5%;
  padding-left: 29%;
  display: flex;
}
.doctorbutton a{
  text-decoration: none;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
}
.doctorbutton{
  display: flex;
  flex-direction: column;
}
.doctorbutton button{
  background-color: #ff66b2;
  width: 75%;
  border: white;
  margin: 0 10px;
  text-transform: uppercase;
  transition: all 0.55s ease;
  margin-bottom: 20px;
  
}
.doctorbutton button:hover{
  --bs-btn-hover-bg: rgb(205,102,168);
  --bs-btn-hover-border-color: 1px solid whitesmoke;
  transform: translateY(-8px);
}
.todobox {
  height: 80%;
  width: 80%;
  min-height: 75vh;
  position: relative;
  background-color: rgba(4, 135, 217, 0.3);
  box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
  border-radius: 47px;
  margin-left: 10%;
  margin-right: 10%;
}
.todobox h2 {
  padding-top: 3%;
  margin-bottom: 2%;
}
.todobox a {
  text-decoration: none;
}
.custom-table {
  border-collapse: collapse;
  width: 100%; /* Adjust the width of the table as needed */
}
.custom-table th,
.custom-table td {
  padding: 15px !important; /* Adjust the padding to make the cells bigger */
  text-align: center; /* Center align content in cells */
}
.ri-check-fill {
  margin-right: 10%;
  font-size: 24px;
  color: #73e635;
  transition: all 0.55s ease;
}
.ri-close-fill {
  font-size: 24px;
  color: #B80000;
  transition: all 0.55s ease;
}
.ri-user-search-line {
  font-size: 24px;
  color: #ff66b2;
  transition: all 0.55s ease;
}
.bx-alarm-add {
  margin-left: 10%;
  font-size: 20px;
  color: #ff66b2;
  transition: all 0.55s ease;
}
.bx-alarm-add:hover {
  font-size: 21px;
}
.ri-user-search-line:hover {
  font-size: 25px;
}
.ri-check-fill:hover{
  font-size: 25px;
}
.ri-close-fill:hover{
  font-size: 25px;
}
.table-danger button {
  border-width: 0;
  background-color: #f8d7da;
}
.pink-background{
  width: 100%; 
  background-color: #F2CED8; 
  margin: 2% auto 1%;
  border-radius: 47px;
}
.timetable{
  background-color: #F2CED8;
  padding:20px;
  border-radius: 47px;
  margin: 20px;
 }
 .timetable table{
  width:100%;
  border-collapse: collapse;
 }
 .timetable th, .timetable td{
  border: 1px solid #0487d9;
  border-top:none;
  padding: 10px;
  text-align: center;
  max-width:50px;
  height: 100px;
  font-family: 'Baloo 2';

 }
 .timetable th{
  background-color: #F2CED8;
  color:#ff66b2;
  font-family: 'Baloo 2';
  width:50px;
  height: 100px;

 }
 .have-schedule{
  background-color: #0487d9;
  opacity: 0.7;
  font-family: 'Baloo 2';

 }
 .room{
  background-color:inherit;
  width:40%;
  border: none;
  border-bottom: 1px solid;
  font-family: 'Baloo 2';
  text-align: center;
  
}

  .appointmentModalHeader.modal-content, .registerModalHeader .modal-content {
      width: 800px;
      height: 360px;
      display: flex;
      flex-direction: column;
    }
    
    
    .appointmentModalHeader, .registerModalHeader, .successHeader {
    background-color: rgba(242, 206, 216, 0.5);
    text-align: center;
    }
    .appointmentModalHeader .modal-title, .registerModalHeader .modal-title{
    font-family: 'Baloo 2';
    font-size: 30px;
    color: #0487d9;
    width: 100%;
    padding-left: 5%;
    }
    .appointmentModalBody, .registerModalBody {
    background: linear-gradient(to bottom, rgba(242, 206, 216, 0.5), rgba(4, 135, 217, 0.5));
    overflow-x: auto;
    overflow-y: auto;
    
    }