* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  }
  header {
    position: flex;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: #F2CED8;
    border-radius: 20px 20px 0 0;
  }
  body {
    background-color: white;
  }
  .logo-name {
    float: left
  }
  .logo-name img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
  }
  .logo-name a {
    font-size: 30px;
    font-weight: 700;
    color: #0487d9;
    text-decoration: none;
  }
  .navlist {
    display: flex;
    margin-top: 15px;
  }
  .navlist a{
    color: #0487d9;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
  }
  .navlist a:hover{
    border-bottom: 2px solid #0487d9;
  }
  header .btn-primary {
    font-size: 20px;
    margin-right: 25px;
    background-color: #ff66b2;
    border-color: #ff66b2;
    color: white;
    text-transform: uppercase;
    transition: all 0.55s ease;
    --bs-btn-padding-x: 1rem;
  }
  header button:hover {
    --bs-btn-hover-bg: whitesmoke transparent;
    --bs-btn-hover-border-color: 1px solid whitesmoke;
    transform: translateY(-8px);
  }
  header .btn-primary a{
    color: white;
    text-decoration: none;
    font-size: 20px
  }
 
  .scrollable-table {
    margin-top:  100px;
    margin-left: 100px;
    max-width: 1120px;
    height: 408px;
    overflow-y: auto;
  }
  .scrollable-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  /* Adjust column widths */
  .scrollable-table th:nth-child(1),
  .scrollable-table td:nth-child(1) {
    width: 15%; /* Date */
  }
  .scrollable-table th:nth-child(2),
  .scrollable-table td:nth-child(2) {
    width: 15%; /* Doctor */
  }
  .scrollable-table th:nth-child(3),
  .scrollable-table td:nth-child(3) {
    width: 60%; /* Diagnose */
  }
  .scrollable-table th:nth-child(4),
  .scrollable-table td:nth-child(4) {
    width: 10%; /* Prescription */
  }
