* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    --bs-body-bg: #F2CED8
}
section {
    padding: 0 10%;
}
.title {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.title-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-family: 'Poppins';
    line-height: 1;
    color: #0487D9;
    margin: 0 0 15px;
}
.title-text p {
    color: #A7A7A7;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
}
.loginform {
    background: rgba(4, 135, 217, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
}
.loginform form{
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 3%;
    width: 90%;
    height: 100%;
}
.form-control {
    --bs-body-bg: white;
}
.loginform button {
    margin-top: 2%;
    margin-left: 23%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #F25EA3;
    color: white;
    text-transform: uppercase;
    transition: all 0.55s ease;
    border: white;
}
.loginform button:hover {
    --bs-btn-hover-bg: whitesmoke transparent;
    --bs-btn-hover-border-color: 1px solid whitesmoke;
    transform: translateY(-8px);
}
.logotext {
    display: flex;
    margin-bottom: 2%;
}
.logotext h3{
    color: #0487D9;
    margin-top: 2%;
    margin-left: 2%;
}
.loginform p {
    margin-left: 13%;
    padding-left: 10%;
    padding-right: 10%;
}