* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header {
    position: flex;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: #F2CED8;
}
body {
    background-color: white;
}
.logo-name {
    float: left
}
.logo-name img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
}
.logo-name a {
    font-size: 30px;
    font-weight: 700;
    color: #0487d9;
    text-decoration: none;
}
.navlist {
    display: flex;
    margin-top: 15px;
}
.navlist a{
    color: #0487d9;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
}
.navlist a:hover{
    border-bottom: 2px solid #0487d9;
}
.title {
    height: 100%;
    width: 100%;
    min-height: 75vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    align-items: center;
    gap: 2rem;
}
section {
    padding: 0 10%;
}
.title-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1;
    color: #0487D9;
    margin: 0 0 15px;
}
.titleimg {
    margin-left: 20%;
}
.powerpuffimg {
    width: 60%;
    height: 60%;
    background: #F2CED8;
    border-radius: 60%;
}
.icons {
    transform: translateY(-50%);
}
.icons i {
    display: block;
    margin: 26px 0;
    font-size: 40px;
    color: #F25EA3;
    transition: all 0.55s ease;
}
.icons i:hover{
    color: #F2CED8;
    transform: translateY(-5px);
}
.icons a{
    text-decoration: none;
}
.d-flex button {
    font-size: 20px;
    margin-right: 25px;
    background-color: #ff66b2;
    border-color: #ff66b2;
    color: white;
}
header .btn-primary {
    font-size: 20px;
    margin-right: 25px;
    background-color: #ff66b2;
    border-color: #ff66b2;
    color: white;
    text-transform: uppercase;
    transition: all 0.55s ease;
}
header .btn-secondary {
    font-size: 20px;
    margin-right: 25px;
    background-color: #FFC0CB;
    border-color: #ff66b2;
    color: #ff66b2;
    text-transform: uppercase;
    transition: all 0.55s ease;
}
.SignUpLogIn {
    margin-left: 75px;
}
header button:hover {
    --bs-btn-hover-bg: whitesmoke transparent;
    --bs-btn-hover-border-color: 1px solid whitesmoke;
    transform: translateY(-8px);
}
.input-group-append {
    cursor: pointer;
}
.SignUpLogIn a {
    text-decoration: none;
}