* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  }
  
  header {
    position: flex;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: #F2CED8;
  }
  
  body {
    background-color: white;
  }
  
  .logo-name {
    float: left
  }
  
  .logo-name img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
  }
  
  .logo-name a {
    font-size: 30px;
    font-weight: 700;
    color: #0487d9;
    text-decoration: none;
  }
  
  .navlist {
    display: flex;
    margin-top: 15px;
  }
  
  .navlist a {
    color: #0487d9;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
  }
  
  .navlist a:hover {
    border-bottom: 2px solid #0487d9;
  }
  
  header .btn-primary {
    font-size: 20px;
    margin-right: 25px;
    background-color: #ff66b2;
    border-color: #ff66b2;
    color: white;
    text-transform: uppercase;
    transition: all 0.55s ease;
    --bs-btn-padding-x: 1rem;
  }
  
  header button:hover {
    --bs-btn-hover-bg: whitesmoke transparent;
    --bs-btn-hover-border-color: 1px solid whitesmoke;
    transform: translateY(-8px);
  }
  
  header .btn-primary a {
    color: white;
    text-decoration: none;
    font-size: 20px
  }
  
  .box {
    position: relative;
    z-index: 1;
    padding-top: 1%;
  }
  
  .scrollable-table-container {
    width: 1300px;
    background-color: #F2CED8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 2;
  }
  
  .scrollable-table2 {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 1200px;
  }
  
  /*medication-table*/
  .medication-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .medication-table th,
  .medication-table td {
    padding: 8px;
    text-align: center;
  }
  
  .medication-id-column {
    width: 15%;
  }
  
  .name-column {
    width: 25%;
  }
  
  .import-date-column {
    width: 15%;
  }
  
  .expire-date-column {
    width: 15%;
  }
  
  .total-column {
    width: 10%;
  }
  
  .pu-column {
    width: 20%;
  }
  
  /*history-table*/
  .history-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .history-table th,
  .history-table td {
    padding: 8px;
    text-align: center;
  }
  
  .time-column {
    width: 20%;
  }
  
  .number-column {
    width: 10%;
  }
  
  .reason-column {
    width: 70%;
  }
  
  /*modal*/
  .modal-dialog .modal-content .modal-header,
  .modal-dialog .modal-content .modal-body,
  .modal-dialog .modal-content .modal-footer {
    border: none !important;
  }
  
  .historyModalHeader.modal-content,
  .removeModalHeader.modal-content {
    width: 240px;
    height: 360px;
    display: flex;
    flex-direction: column;
  }
  
  .historyModalHeader,
  .removeModalHeader,
  .successHeader {
    background-color: rgba(242, 206, 216, 0.5);
    text-align: center;
  }
  
  .historyModalHeader .modal-title,
  .removeModalHeader.modal-title {
    font-family: 'Baloo 2';
    font-size: 30px;
    color: #0487d9;
    width: 100%;
    padding-left: 5%;
  }
  
  .historyModalBody,
  .removeModalBody {
    background: linear-gradient(to bottom, rgba(242, 206, 216, 0.5), rgba(4, 135, 217, 0.5));
  }
  
  .successBody {
    color: #ff66b2;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  
  .successimg img {
    width: 20%;
    height: 20%;
  }