* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  }
  header {
    position: flex;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: #F2CED8;
    border-radius: 20px 20px 0 0;
  }
  body {
    background-color: white;
  }
  .logo-name {
    float: left
  }
  .logo-name img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
  }
  .logo-name a {
    font-size: 30px;
    font-weight: 700;
    color: #0487d9;
    text-decoration: none;
  }
  .navlist {
    display: flex;
    margin-top: 15px;
  }
  .navlist a{
    color: #0487d9;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
  }
  .navlist a:hover{
    border-bottom: 2px solid #0487d9;
  }
  header .btn-primary {
    font-size: 20px;
    margin-right: 25px;
    background-color: #ff66b2;
    border-color: #ff66b2;
    color: white;
    text-transform: uppercase;
    transition: all 0.55s ease;
    --bs-btn-padding-x: 1rem;
  }
  header button:hover {
    --bs-btn-hover-bg: whitesmoke transparent;
    --bs-btn-hover-border-color: 1px solid whitesmoke;
    transform: translateY(-8px);
  }
  header .btn-primary a{
    color: white;
    text-decoration: none;
    font-size: 20px
  }
  section {
    padding: 0 2%;
  }
  
  .blue-background{
    height: 90%;
    width: 95%;
    min-height: 75vh;
    position: relative;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 2rem;
    background-color: rgba(4, 135, 217, 0.3);
    box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
    border-radius: 47px;
    margin: 2% auto 1%; /* Căn giữa theo chiều ngang và căn dưới */
    justify-content: center;


  }
  .heading{
    color: #ff66b2; /* Màu chữ */
    font-size: 24px; /* Kích thước chữ */
    font-family: 'Poppins', sans-serif; /* Font chữ */
    text-align:center;
    padding-top: 40px;
  }
  .pink-background{
    width: 95%; /* Chiều rộng của khung nhỏ */
    height: 420px; /* Chiều cao của khung nhỏ */
    background-color: #F2CED8; /* Màu nền hồng */
    margin: 2% auto 1%;
    border-radius: 47px;
  }
  .timetable{
    background-color: #F2CED8;
    padding:20px;
    border-radius: 47px;
    margin: 20px;
   }
   .timetable table{
    width:100%;
    border-collapse: collapse;
   }
   .timetable th, .timetable td{
    border: 1px solid #0487d9;
    border-top:none;
    padding: 10px;
    text-align: center;
   }
   .timetable th{
    background-color: #F2CED8;
    color:#ff66b2;
  
   }
   .empty-cell{
    background-color:none;
   }