  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
  }
  header {
    position: flex;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;
    background: #F2CED8;
  }
  body {
    background-color: white;
  }
  .logo-name {
    float: left
  }
  .logo-name img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
  }
  .logo-name a {
    font-family: 'Baloo 2';
    font-size: 30px;
    font-weight: 700;
    color: #0487d9;
    text-decoration: none;
  }
  .navlist {
    display: flex;
    margin-top: 15px;
  }
  .navlist a{
    color: #0487d9;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
  }
  .navlist a:hover{
    border-bottom: 2px solid #0487d9;
  }
  header .btn-primary {
    font-size: 20px;
    margin-right: 25px;
    background-color: #ff66b2;
    border-color: #ff66b2;
    color: white;
    text-transform: uppercase;
    transition: all 0.55s ease;
    --bs-btn-padding-x: 1rem;
  }
  header button:hover {
    --bs-btn-hover-bg: whitesmoke transparent;
    --bs-btn-hover-border-color: 1px solid whitesmoke;
    transform: translateY(-8px);
  }
  header .btn-primary a{
    color: white;
    text-decoration: none;
    font-size: 20px
  }
  section {
    padding: 0 2%;
  }
  .displaybox {
    height: 80%;
    width: 80%;
    min-height: 75vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 2rem;
    background-color: rgba(4, 135, 217, 0.3);
    box-shadow: 0px 4px 15px rgba(216, 210, 252, 0.64);
    border-radius: 47px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  
  }
  .textbox {
    line-height: 0.75cm;
    display: block;
    margin-left: 8%;
    margin-top: 5%;
  }
  .textbox h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .textbox p {
    border-bottom: 2px solid black;
    font-size: 16px;
  }
  .textbox h6{
    font-size: 20px;
  }
  .MedicineManagerinfo {
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    margin-left: 30%;
  }
  .MedicineManagerimg img {
    border: 2px solid black;
    border-radius: 47px;
    width: 60%;
    height: 60%;
  }
  .schedule .btn-primary, .MediHistory .btn-primary {
    font-size: 16px;
    background-color: #0487D9;
    border-color: #D8D2FC;
    text-transform: uppercase;
    transition: all 0.55s ease;
    text-decoration: none;
    color: white;
    font-style: normal;
    width: 200px;
    margin-left: 4%;
  }
  .newMedicine .btn-primary {
    font-size: 16px;
    background-color: #ff66b2;
    border-color: #0487D9;
    text-transform: uppercase;
    transition: all 0.55s ease;
    text-decoration: none;
    color: white;
    font-style: normal;
    width: 200px;
    margin-left: 5%;
  }

  .schedule .btn-primary:hover .MediHistory .btn-primary:hover{
    background-color: #D8D2FC;
    border-color: #D8D2FC;
    font-size: 16px;
  }
  .newMedicine .btn-primary:hover {
    background-color: #F2CED8;
    border-color: #F2CED8;
    font-size: 16px;
  }

  .medicinemanagement {
    height: 80%;
    width: 80%;
    min-height: 75vh;
    position: relative;
    background-color: rgba(4, 135, 217, 0.3);
    border-radius: 47px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
  }

  .modal-dialog .modal-content .modal-header,
  .modal-dialog .modal-content .modal-body,
  .modal-dialog .modal-content .modal-footer {
  border: none; 
}
  .AddmedicineHeader .modal-content, .HistoryHeader .modal-content, .UsageHeader .modal-content, .RemoveHeader .modal-content, .DeleteHeader .modal-content {
    width: 240px; 
    height: 360px; 
    display: flex;
    flex-direction: column;
  }
  
  .AddmedicineHeader, .HistoryHeader, .UsageHeader, .RemoveHeader, .DeleteHeader { 
    background-color: rgba(242, 206, 216, 0.5);
    text-align: center;
  }

  .AddmedicineHeader .modal-title, .HistoryHeader .modal-title, .UsageHeader .modal-title, .RemoveHeader .modal-title, .DeleteHeader .modal-title {
    font-family: 'Baloo 2';
    font-size: 30px;
    color: #0487d9;
    width: 100%;
    padding-left: 5%;
  }

  .AddmedicineBody, .viewMedicineManagerHistory, .Usagebody, .RemoveBody, .DeleteBody {
    background: linear-gradient(to bottom, rgba(242, 206, 216, 0.5), rgba(4, 135, 217, 0.5));
  }

  .AddmedicineFooter .btn-primary, .HistoryFooter .btn-secondary, .UsageFooter .btn-secondary, .RemoveFooter .btn-primary, .DeleteFooter .btn-primary {
    font-size: 12px;
    background-color: #ff66b2;
    border-color: #0487D9;
    text-transform: uppercase;
    transition: all 0.55s ease;
    text-decoration: none;
    color: white;
    font-style: normal;
    width: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .AddmedicineFooter .btn-primary:hover, .HistoryFooter .btn-secondary:hover, .UsageFooter .btn-secondary:hover, .RemoveFooter .btn-primary:hover, .DeleteFooter .btn-primary:hover {
    background-color: #F2CED8;
    border-color: #F2CED8;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boxTitle {
    padding-top: 5%;
    color: #F25EA3;
    font-size: 26px;
    font-weight: 500;
  }

  .scrollable-table-container {
    background-color: #F2CED8;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 450px;
  }

  .medicine-table {
    border-collapse: collapse;
    width:1000em
  }

  .ethead {
    border-bottom: 2px solid #1278B9;
  }

  .etbody {
    border-bottom: 2px solid rgba(4, 135, 217, 0.3);
  }

  .medicine-table th,
  .medicine-table td {
    font-size: 18px;
    padding: 8px;
    text-align: center;
  }

  .medicine-table td button:hover {
    color: #0487D9;
  }

  .headColumn {
    border-right: 2px solid #1278B9;
    color: #F25EA3;
    font-size: 20px !important;
    font-weight: 500;
  }

  .action-column {
    color: #F25EA3;
    font-size: 20px !important;
    font-weight: 500;
  }

  .et-td {
    border-right: 2px solid #1278B9;
  }

  #myInputMedicine {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' fill='currentColor'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z'%3E%3C/path%3E%3C/svg%3E"); /* Add a search icon to input */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 1%; 
    margin-left: 24.5%;
  }