<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M3PowerPuff</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'adminpage.css'%}">
    <link rel="icon" type="image/x-icon" href="{%static 'logo.png'%}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<header>
    <div class = "logo-name">
        <img src="{%static 'logo.png'%}" alt="">
        <a href='{% url 'mainpage' %}'>M3PowerPuff</a>
       
    </div>

    <ul class = "navlist">
        <li><a href="">Home</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Doctors</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Contact us</a></li>
    </ul>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal">
        <a href='{% url 'mainpage' %}'>Log out</a>
    </button>

</header>

    <section class = "displaybox">
        <div class = "textbox">
            <h2>Admin Information</h2>

            <h6>Name</h6>
            <p style="color:#ff66b2">{{admin.name}}</p>
            <h6>Phone</h6>
            <p>{{admin.phone}}</p>
            <h6>Gmail</h6>
            <p>{{ admin.gmail }}</p>
        </div> 

        <div class = "patientinfo">
            <div class = "patientimg">
                <img src="{%static 'patient.jpeg'%}">
            </div>

            <div style = "margin-top: 5%" class = 'newButton'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddJob">Add Job</button>
            </div>
            <div style = "margin-top: 5%" class = 'newButton'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddPeople">Add People</button>
            </div>
            <div style = "margin-top: 5%" class = 'newButton'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MedicalStaff">Medical Staff</button>
            </div>
        
        </div>

    </section>

    <section class = "MedicalRecord">
        <h3 class="HeadingSchedule">SCHEDULE MANAGEMENT</h3>
            <div class="Schedule">
                <div class="timetable">
                    <table>
                        <tr>
                            <th class="title">Shift</th>
                            <th class="title">Department</th>
                            <th class="title">Monday</th>
                            <th class="title">Tuesday</th>
                            <th class="title">Wednesday</th>
                            <th class="title">Thursday</th>
                            <th class="title">Friday</th>
                            <th class="title">Saturday</th>
                            <th class="title">Sunday</th>
                        </tr>
                            <tr>
                                <th rowspan="3" class="title">Morning</th>
                                <th rowspan="1" class="title">Laryngology</th>
                                <td>
                                    {% for job_id, job in joblist.Morning.Laryngology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Laryngology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Laryngology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Laryngology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Laryngology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Laryngology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Laryngology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Rhinology</th>
                                <td>
                                    {% for job_id, job in joblist.Morning.Rhinology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Rhinology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Rhinology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Rhinology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Rhinology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Rhinology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Rhinology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Otology</th>
                                <td>
                                    {% for job_id, job in joblist.Morning.Otology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Otology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Otology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Otology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Otology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Otology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Morning.Otology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="3" class="title">Afternoon</th>
                                <th rowspan="1" class="title">Laryngology</th>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Laryngology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Laryngology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Laryngology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Laryngology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Laryngology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Laryngology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Laryngology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Rhinology</th>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Rhinology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Rhinology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Rhinology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Rhinology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Rhinology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Rhinology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Rhinology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Otology</th>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Otology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Otology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Otology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Otology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Otology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Otology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Afternoon.Otology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="3" class="title">Evening</th>
                                <th rowspan="1" class="title">Laryngology</th>
                                <td>
                                    {% for job_id, job in joblist.Evening.Laryngology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Laryngology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Laryngology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Laryngology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Laryngology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Laryngology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Laryngology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Rhinology</th>
                                <td>
                                    {% for job_id, job in joblist.Evening.Rhinology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Rhinology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Rhinology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Rhinology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Rhinology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Rhinology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Rhinology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Otology</th>
                                <td>
                                    {% for job_id, job in joblist.Evening.Otology.Mon.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Otology.Tue.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Otology.Wed.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Otology.Thu.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Otology.Fri.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Otology.Sat.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job_id, job in joblist.Evening.Otology.Sun.items %}
                                    <h1 class="Doctor">
                                        {% for doc_id, doc in doctorlist.items %}
                                            {% if job.PersonID == doc_id%}
                                                {{doc.Name}}
                                            {% endif %}
                                        {% endfor %}
                                    </h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                
                    </table>
                </div>
            </div>

    </section>
   
</body>


<script>
    document.getElementById("go-back").addEventListener("click", () => {
        history.back();
      });
</script>




</html>