<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M3PowerPuff</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'adminpage4.css'%}">
    <link rel="icon" type="image/x-icon" href="{%static 'logo.png'%}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<header>
    <div class = "logo-name">
        <img src="{%static 'logo.png'%}" alt="">
        <a href='{% url 'mainpage' %}'>M3PowerPuff</a>
       
    </div>

    <ul class = "navlist">
        <li><a href="">Home</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Doctors</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Contact us</a></li>
    </ul>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal">
        <a href='{% url 'mainpage' %}'>Log out</a>
    </button>

</header>

    <section class = "displaybox">
        <div class = "textbox">
            <h2>Admin</h2>

            <h6>Name</h6>
            <p style="color:#ff66b2" id = "PatientName">{{patient.name}}</p>
            <h6>Gender</h6>
            <p id = "PatientGender">{{patient.gender}}</p>
            <h6>Date of Birth</h6>
            <p id = "PatientDOB">{{patient.dateofbirth}}</p>
            <h6>Gmail</h6>
            <p id = "PatientGmail">{{patient.gmail}}</p>
        </div> 

        <div class = "patientinfo">
            <div class = "patientimg">
                <img src="{%static 'patient.jpeg'%}">
            </div>

            <div style = "margin-top: 5%" class = 'newButton'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddJob">Add Job</button>
            </div>
            <div style = "margin-top: 5%" class = 'newButton'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddPeople">Add People</button>
            </div>
            <div style = "margin-top: 5%" class = 'newButton'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MedicalStaff">Medical Staff</button>
            </div>
        
        </div>

    </section>

    <section class = "MedicalRecord">
        <h3 class="HeadingSchedule">SCHEDULE MANAGEMENT</h3>
            <div class="Schedule">
                <div class="timetable">
                    <table>
                        <tr>
                            <th class="title">Shift</th>
                            <th class="title">Department</th>
                            <th class="title">Monday</th>
                            <th class="title">Tuesday</th>
                            <th class="title">Wednesday</th>
                            <th class="title">Thursday</th>
                            <th class="title">Friday</th>
                            <th class="title">Saturday</th>
                            <th class="title">Sunday</th>
                            <tr>
                                <th rowspan="3" class="title">Morning</th>
                                <th rowspan="1" class="title">Throat</th>
                                <td>
                                    {% for job in joblist.Morning.Throat.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Throat.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Throat.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Throat.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Throat.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Throat.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Throat.Sun %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Nose</th>
                                <td>
                                    {% for job in joblist.Morning.Nose.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Nose.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Nose.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Nose.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Nose.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Nose.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Nose.Sun %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Ears</th>
                                <td>
                                    {% for job in joblist.Morning.Ear.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Ear.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Ear.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Ear.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Ear.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Ear.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Morning.Ear.Sun %}
                                    <div>
                                        <h1 class="Doctor">{{ job.Name }}</h1>
                                        <div>{{job.Position}}</div>
                                    </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="3" class="title">Afternoon</th>
                                <th rowspan="1" class="title">Throat</th>
                                <td>
                                    {% for job in joblist.Afternoon.Throat.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Throat.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Throat.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Throat.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Throat.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Throat.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Throat.Sun %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Nose</th>
                                <td>
                                    {% for job in joblist.Afternoon.Nose.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Nose.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Nose.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Nose.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Nose.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Nose.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Nose.Sun %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Ears</th>
                                <td>
                                    {% for job in joblist.Afternoon.Ear.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Ear.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Ear.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Ear.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Ear.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Ear.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Afternoon.Ear.Sun %}
                                        <div>
                                            <h1 class="Doctor">{{ job.Name }}</h1>
                                            <div>{{job.Position}}</div>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="3" class="title">Evening</th>
                                <th rowspan="1" class="title">Throat</th>
                                <td>
                                    {% for job in joblist.Evening.Throat.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Throat.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Throat.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Throat.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Throat.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Throat.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Throat.Sun %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Nose</th>
                                <td>
                                    {% for job in joblist.Evening.Nose.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Nose.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Nose.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Nose.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Nose.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Nose.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Nose.Sun %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="1" class="title">Ears</th>
                                <td>
                                    {% for job in joblist.Evening.Ear.Mon %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Ear.Tue %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Ear.Wed %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Ear.Thu %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Ear.Fri %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Ear.Sat %}
                                    <h1 class="Doctor">{{ job.Name }}</h1>
                                    <div>{{job.Position}}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for job in joblist.Evening.Ear.Sun %}
                                        <div>
                                            <h1 class="Doctor">{{ job.Name }}</h1>
                                            <div>{{job.Position}}</div>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                
                        </table>
                </div>
            </div>
            <div>
                <button class="button--submit">SUBMIT</button>
            </div>    
    </section>

    <div class="modal fade" id="AddJob" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                    <div class="modal-header appointmentModalHeader" d-flex justify-content-center align-items-center>
                        <h4 class="modal-title">Add Job</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body appointmentModalBody">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                                    <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z"/>
                                    <path d="M3.5 1h.585A1.5 1.5 0 0 0 4 1.5V2a1.5 1.5 0 0 0 1.5 1.5h5A1.5 1.5 0 0 0 12 2v-.5q-.001-.264-.085-.5h.585A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1"/>
                                  </svg>
                                <select id="Departure" class="input">
                                    <option value="option1">Otology</option>
                                    <option value="option2">Rhinology</option>
                                    <option value="option3">Laryngology</option>
                                </select>
                                <span class="spacer"></span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
                                  </svg>
                                <select id="type" class="input">
                                    <option value="option1">Doctor</option>
                                    <option value="option2">Nurse</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                  </svg>
                                <select id="name" class="input">
                                    {% for people in doctorlist %}
                                        <option value = {{doctorlist.id}}>{{doctorlist.id}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                  </svg>
                                <select id="shift" class="input">
                                    <option value="option1">Option 1</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                  </svg>
                                <input type="text" id="room" class="input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer appointmentModalFooter" style = "background-color: rgba(4, 135, 217, 0.5);">
                    <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
                </div>  
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" d-flex justify-content-center align-items-center>
                <div class="modal-header successHeader"> 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body successBody">
                    Successful
                    <div class = "successimg">
                        <img src="{%static 'successful.png'%}">
                    </div>
                </div>
                <div class="modal-footer successFooter" style="background-color:rgba(242, 206, 216, 0.5); height: 40px;">
                </div>
               
            </div>
        </div>     
    </div>

    <div class="modal fade" id="MedicalStaff" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                    <div class="modal-header appointmentModalHeader" d-flex justify-content-center align-items-center>
                        <h4 class="modal-title">Medical Staff</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body appointmentModalBody">
                    <div class="pink-background">
                        <div class ="timetable">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Role</th>
                                    <th>Phone</th>
                                    <th>Gmail</th>
                                    <th></th>
                        
                                </tr>
                                <tr>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="note-cell">
                                        <button class="delete-button">X</button>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="note-cell">
                                        <button class="delete-button">X</button>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="note-cell">
                                        <button class="delete-button">X</button>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="note-cell">
                                        <button class="delete-button">X</button>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="note-cell">
                                        <button class="delete-button">X</button>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="note-cell">
                                        <button class="delete-button">X</button>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="empty-cell" contenteditable="true"></td>
                                    <td class="note-cell">
                                        <button class="delete-button">X</button>
                                    </td>
                                   
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" d-flex justify-content-center align-items-center>
                <div class="modal-header successHeader"> 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body successBody">
                    Successful
                    <div class = "successimg">
                        <img src="{%static 'successful.png'%}">
                    </div>
                </div>
                <div class="modal-footer successFooter" style="background-color:rgba(242, 206, 216, 0.5); height: 40px;">
                </div>
               
            </div>
        </div>     
    </div>

    <div class="modal fade" id="AddPeople" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                    <div class="modal-header appointmentModalHeader" d-flex justify-content-center align-items-center>
                        <h4 class="modal-title">Add People</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body appointmentModalBody">
                    <div class = "signupform">
                        <form id="signupForm" method = "POST"> 
                            <div class="mb-3">
                                <label class="form-label">Department</label>
                                <select class="form-select">
                                    <option>Ears</option>
                                    <option>Nose</option>
                                    <option>Throat</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Role</label>
                                <select class="form-select">
                                    <option>Doctor</option>
                                    <option>Nurse</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="signupGmail" class="form-label">Gmail</label>
                                <input type="email" class="form-control" name= "gmail" placeholder="name@example.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="signupName" class="form-label">Name</label>
                                <input type="text" class="form-control" name= "name" placeholder="James Smith" required>
                            </div>
                            <div class="mb-3">
                                <label for="signupPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" name = "password" placeholder="123456" required>
                            </div>
                            <div class="mb-3">
                                <label for="signupGender" class="form-label">Gender</label>           
                                <select class="form-select" name="gender" required>
                                    <option selected>M/F</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="signupDOB" class="form-label">Date of Birth</label>      
                                <input class="form-control" id="signupDOB" name="date" placeholder="DD/MM/YYY" type="text" required>
                            </div>

                        </form>
                       
                    </div>
                <div class="modal-footer appointmentModalFooter" >
                    <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
                </div>  
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" d-flex justify-content-center align-items-center>
                <div class="modal-header successHeader"> 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body successBody">
                    Successful
                    <div class = "successimg">
                        <img src="{%static 'successful.png'%}">
                    </div>
                </div>
                <div class="modal-footer successFooter" style="background-color:rgba(242, 206, 216, 0.5); height: 40px;">
                </div>
            </div>
        </div> 
    </div>
    
</body>


<script>
    document.getElementById("go-back").addEventListener("click", () => {
        history.back();
      });
</script>




</html>