<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M3PowerPuff</title>
    {%load static%}
    <link rel="icon" type="image/x-icon" href="{%static 'logo.png'%}">

    <link rel="stylesheet" type ="text/css" href="{%static 'doctorpage.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <header>
        <div class = "logo-name">
            <img src="{%static 'logo.png'%}" alt="">
            <a href='{% url 'mainpage' %}'>M3PowerPuff</a>
        </div>

        <ul class = "navlist">
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Doctors</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
        </ul>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal">
            <a href='{% url 'mainpage' %}'>Log out</a>
        </button>

    </header>

    <section class = "displaybox">
        <div class = "textbox">
            <h2>Doctor Information</h2>
            <h6>Name</h6>
            <p style="color:#ff66b2" id = "DoctorName">{{doctor.name}}</p>
            <h6>Gmail</h6>
            <p id = "DoctorGmail">{{doctor.gmail}}</p>
            <h6>Date of Birth</h6>
            <p id = "DateofBirth">{{doctor.dob}}</p>
            <h6>Department</h6>
            <p id = "DoctorDepartment">{{doctor.department}}</p>
            <h6>Level</h6>
            <p id = "DoctorLevel">{{doctor.level}}</p>
            <h6>Years</h6>
            <p id = "DoctorYear">{{doctor.years}}</p>
        </div> 

        <div class = "doctorinfo">
            <div class = "doctorimg">
                <img src="{%static 'doctor1.jpeg'%}">
            </div>

            <div class = "doctorbutton">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal">
                    <a href='history/{{doctor.id}}'>History</a>
                </button>
            </div>

            <div style = "margin-top: 5%" class = 'Schedule'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Schedule">Schedule</button>
            </div>

            <div class="modal fade" id="Schedule" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                            <div class="modal-header appointmentModalHeader" d-flex justify-content-center align-items-center>
                                <h4 class="modal-title">SCHEDULE</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        <div class="modal-body appointmentModalBody">
                            <div class="pink-background">
                                <div class ="timetable">
                                    <table>
                                        <tr>
                                            <th>Shift</th>
                                            <th>Monday</th>
                                            <th>Tuesday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                            <th>Sarturday</th>
                                            <th>Sunday</th>
                                        </tr>
                                        <tr>
                                            <td>Morning</td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Mon" and value.Shift == "Morning"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Tue" and value.Shift == "Morning"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Wed" and value.Shift == "Morning"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Thu" and value.Shift == "Morning"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Fri" and value.Shift == "Morning"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Sat" and value.Shift == "Morning"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Sun" and value.Shift == "Morning"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td>Afternoon</td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Mon" and value.Shift == "Afternoon"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Tue" and value.Shift == "Afternoon"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Wed" and value.Shift == "Afternoon"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Thu" and value.Shift == "Afternoon"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Fri" and value.Shift == "Afternoon"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Sat" and value.Shift == "Afternoon"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Sun" and value.Shift == "Afternoon"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Evening</td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Mon" and value.Shift == "Evening"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Tue" and value.Shift == "Evening"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Wed" and value.Shift == "Evening"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Thu" and value.Shift == "Evening"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Fri" and value.Shift == "Evening"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Sat" and value.Shift == "Evening"%}
                                                        <div style="font-size: 20px; color:#0487D9">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for value in doctorSchedule %}
                                                    {% if value.Department == doctor.department and value.Day == "Sun" and value.Shift == "Evening"%}
                                                        <div style="font-size: 20px; color:#0487D9;">
                                                            <i class="ri-home-heart-line"></i> 
                                                            <p>{{ value.Position}}</p>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer appointmentModalFooter" style = "background-color: rgba(4, 135, 217, 0.5);">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
                        </div>  
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class = "todobox">
        <div class = "textbox1">
            <h2 style = "font-size:24px; color:#ff66b2">Meeting Appointment</h2>
        </div> 
        <div class="table">
            <table class="table table-bordered custom-table">
                <thead>
                    <tr class="table-danger">
                        <th scope="col" id="time">Time</th>
                        <th scope="col">PatientName</th>
                        <th scope="col">Prescription</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in doctor.appointments%}
                    <tr class="table-danger">
                        <td>{{appointment.time}}</td>
                        <td>{{appointment.patientinfo.name}}</td>
                        <td><a class="ri-user-search-line" href='patientinfo/{{doctor.id}}/{{appointment.patientinfo.id}}/{{appointment.appointmentID}}'></a></td>
                        <td>
                            <a class="ri-check-fill" href = 'deleteAppoint/{{doctor.id}}/{{appointment.appointmentID}}'></a>
                            <a class="ri-close-fill" href = 'deleteAppoint/{{doctor.id}}/{{appointment.appointmentID}}'></a>
                            <a class="bx bx-alarm-add" href = 'appointmentAddTime/{{doctor.id}}/{{appointment.appointmentID}}'></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
</body>

</html>