<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M3PowerPuff</title>
    {% load static%}
    <link rel="icon" type="image/x-icon" href="{%static 'logo.png'%}">

    <link rel="stylesheet" type ="text/css" href="{%static 'nursepage.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <header>
        <div class = "logo-name">
            <img src="{%static 'logo.png'%}" alt="">
            <a href='{% url 'mainpage' %}'>M3PowerPuff</a>
        </div>

        <ul class = "navlist">
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Doctors</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
        </ul>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal">
            <a href='{% url 'mainpage' %}'>Log out</a>
        </button>


    </header>

    <section class = "displaybox">
        <div class = "textbox">
            <h2>Nurse Information</h2>

            <h6>Name</h6>
            <p style="color:#ff66b2" id = "NurseName">{{nurse.name}}</p>
            <h6>Gmail</h6>
            <p>{{nurse.gmail}}</p>
            <h6>Date of Birth</h6>
            <p>{{nurse.dateofbirth}}</p>
            <h6>Department</h6>
            <p>{{nurse.department}}</p>
            <h6>Level</h6>
            <p>{{nurse.level}}</p>
            <h6>Years</h6>
            <p>{{nurse.years}}</p>

        </div> 

        <div class = "nurseinfo">
            <div class = "nurseimg">
                <img src="{%static 'nurses.png'%}">
            </div>

            <div style = "margin-top: 5%" class = 'testingHistory'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nurseHistory">Result History</button>

                <div class="modal fade" id="nurseHistory" tabindex="-1" aria-labelledby="viewNurseHistoryLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header TestingHeader">
                          <h4 class="modal-title" id="viewNurseHistoryLabel">Testing History</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body viewNurseHistoryBody">
                            <div class="table-wrapper">
                                <table class="table table-bordered" id="myTable">
                                    <thead>
                                        <tr class="table-danger">
                                            <th style="width:15%;">Date</th>
                                            <th style="width:15%">Department</th>
                                            <th style="width:15%;">Doctor Name</th>
                                            <th style="width:20%;">Patient Name</th>
                                            <th style="width:10%;">Type</th>
                                            <th style="width:25%;">Result</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for res in testResult%}
                                            {% if nurse.id == res.nurseid%}
                                            <tr class="table-danger">
                                                <td>{{res.date}}</td>
                                                <td>{{res.department}}</td>
                                                <td>{{res.doctorname}}</td>
                                                <td>{{res.patientname}}</td>
                                                <td>{{res.type}}</td>
                                                <td>{{res.result}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer viewNurseHistoryFooter" style="background-color: rgba(4, 135, 217, 0.5);">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>

            </div>

            <div style = "margin-top: 5%" class = 'Schedule'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Schedule">Schedule</button>

                <div class="modal fade" id="Schedule" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header ScheduleModalHeader" d-flex justify-content-center align-items-center>
                                <h4 class="modal-title">SCHEDULE</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            <div class="modal-body ScheduleModalBody">
                                <div class="pink-background">
                                    <div class ="timetable">
                                        <table>
                                            <tr>
                                                <th>Shift</th>
                                                <th>Monday</th>
                                                <th>Tuesday</th>
                                                <th>Wednesday</th>
                                                <th>Thursday</th>
                                                <th>Friday</th>
                                                <th>Sarturday</th>
                                                <th>Sunday</th>
                                            </tr>
                                            <tr>
                                                <td>Morning</td>
        
                                                {% if nurseSchedule.Morning.Mon is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black;">{{ nurseSchedule.Morning.Mon }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Morning.Tue is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Morning.Tue }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Morning.Wed is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Morning.Wed }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Morning.Thu is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Morning.Thu }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Morning.Fri is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Morning.Fri }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Morning.Sat is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Morning.Sat }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Morning.Sun is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Morning.Sun }}</p>
                                                </td>
                                                {% endif %}
                                            </tr>
        
                                            <tr>
                                                <td>Afternoon</td>
        
                                                {% if nurseSchedule.Afternoon.Mon is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Afternoon.Mon }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Afternoon.Tue is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Afternoon.Tue }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Afternoon.Wed is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Afternoon.Wed }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Afternoon.Thu is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Afternoon.Thu }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Afternoon.Fri is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Afternoon.Fri }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Afternoon.Sat is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Afternoon.Sat }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Afternoon.Sun is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Afternoon.Sun }}</p>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Evening</td>
        
                                                {% if nurseSchedule.Evening.Mon is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Evening.Mon }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Evening.Tue is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Evening.Tue }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Evening.Wed is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Evening.Wed }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Evening.Thu is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Evening.Thu }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Evening.Fri is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Evening.Fri }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Evening.Sat is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Evening.Sat }}</p>
                                                </td>
                                                {% endif %}
        
                                                {% if nurseSchedule.Evening.Sun is None %}
                                                <td></td>
                                                {% else %}
                                                <td class="have-schedule" style="font-size: 16px">
                                                    <i class="ri-home-heart-line"></i> 
                                                    <p style="color: black">{{ nurseSchedule.Evening.Sun }}</p>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer ScheduleModalFooter"  style="background-color: rgba(4, 135, 217, 0.5);">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </section>

    <section class = "TestingAppoint">
        <div class = "textbox1">
            <h2>Testing Appointment</h2>
        </div>
        
        <div class="table-wrapper">
            <table class="table table-bordered custom-table">
                <thead>
                    <tr class="table-danger">
                        <th scope="col" style = "width: 20%">Date</th>
                        <th scope="col" style = "width: 20%">Patient Name</th>
                        <th scope="col" style = "width: 20%">Doctor Name</th>
                        <th scope="col" style = "width: 20%">Type</th>
                        <th scope="col" style = "width: 20%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for process in processList%}
                    <tr class="table-danger">
                        <td>{{process.date}}</td>
                        <td>{{process.patientname}}</td>
                        <td>{{process.doctorname}}</td>
                        <td>{{process.type}}</td>
                        <td>
                            {% if nurse.id == process.nurseid %}
                            <button type="button" class="bx bx-alarm-add" data-bs-toggle="modal" data-bs-target="#addResultTesting" style="background-color: transparent; border-width: 0"></button>

                            <div class="modal fade" id="addResultTesting" tabindex="-1" aria-labelledby="addResult" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                            <div class="modal-header newResultHeader">
                                                <h4 class="modal-title" id="addResult">Adding Test Result</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                        <div class="modal-body newResultBody">
                                            <form method="POST"> {% csrf_token %}
                                                <input type="hidden" name="testID" value={{process.id}}>
                                                <div class="mb-3" style="text-align: left">
                                                    <label class="form-label" style="color: #ff66b2;">Result</label>
                                                    <textarea class="form-control" name="resultNote" placeholder="" required></textarea>
                                                </div>
                                                <div style="text-align: right">
                                                    <button type="submit" class="btn btn-primary" style="background-color: #ff66b2;">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer newResultFooter" style="background-color: rgba(4, 135, 217, 0.5);">
                                        </div>
                                    </div>  
                                </div>
                            </div>

                            <a class="ri-close-fill" href='cancelProcess/{{process.id}}/{{nurse.id}}'></a>

                            {% else %}

                            <button type="button" class="bx bx-alarm-add" onclick="showAlert()" style="background-color: transparent; border-width: 0"></button>
                            
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}

                    {%for test in testList%}
                    <tr class="table-danger">
                        <td>{{test.date}}</td>
                        <td>{{test.patientname}}</td>
                        <td>{{test.doctorname}}</td>
                        <td>{{test.type}}</td>
                        <td>
                            <a class="ri-check-fill" href='nurseStartTesting/{{test.id}}/{{nurse.id}}'></a>

                            <a class="ri-close-fill" href ='deleteTesting/{{test.id}}/{{nurse.id}}'></a>

                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

    </section>
    
</body>

<script>
    document.getElementById("go-back").addEventListener("click", () => {
        history.back();
      });

    function showAlert() {
        alert("Already In Process");
    }
</script>

</html>