<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M3PowerPuff</title>
    {% load static%}
    <link rel="icon" type="image/x-icon" href="{%static 'logo.png'%}">

    <link rel="stylesheet" type ="text/css" href="{%static 'patientdoctorview.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>
<body>
    <header>
        <div class = "logo-name">
            <img src="{%static 'logo.png'%}" alt="">
            <a href='{% url 'mainpage' %}'>M3PowerPuff</a>
        </div>

        <ul class = "navlist">
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Doctors</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
        </ul>

        <button type="button" id="go-back" class="btn btn-primary" data-bs-toggle="modal">
            Return
        </button>

    </header>

    <section class = "displaybox">
        <div class = "textbox">
            <h2>Patient Information</h2>
            <h6>Name</h6>
            <p id = "PatientName" style="color: #ff66b2;">{{patient.name}}</p>
            <h6>Gender</h6>
            <p id = "PatientGender">{{patient.gender}}</p>
            <h6>Date of Birth</h6>
            <p id = "PatientDOB">{{patient.dateofbirth}}</p>
            <h6>Gmail</h6>
            <p id = "PatientGmail">{{patient.gmail}}</p>
        </div> 

        <div class = 'createmedical'>
            <div class = "patientimg">
                <img src="{%static 'patient.jpeg'%}">
            </div>
            <div style = "margin-top: 5%" class = 'addRecord'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#NewRecordModal">Add New Record</button>
            </div>
            
            <div style = "margin-top: 5%" class = 'newRegister'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Register">Register for testing</button>
            </div>

            <div style = "margin-top: 5%" class = 'testingResult'>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Result">Testing Result</button>
            </div>

            <div class="modal fade" id="NewRecordModal" tabindex="-1" aria-labelledby="newrecordcreate" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header newRecord">
                                <h4 class="modal-title" id="newrecordcreate">New Record</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        <div class="modal-body newRecord">
                            <form method="POST" > {% csrf_token %}
                                <input type="hidden" name="createnewrecord-testing" value="form1">
                                <div class="mb-3">
                                    <label class="form-label">Diagnose</label>
                                    <input class="form-control" name="patientdiagnose" placeholder="" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Status</label>
                                    <input class="form-control" name="patientstatus" placeholder="" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Revisit Day</label>      
                                    <input class="form-control" name="revisitday" placeholder="DD/MM/YYY" type="text" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer newRecord">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="modal fade" id="Register" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                            <div class="modal-header registerModalHeader"d-flex justify-content-center align-items-center>
                                <h4 class="modal-title">Testing Register</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        <div class="modal-body registerModalBody">
                            <form id="testingRegister" method="POST" > {% csrf_token %}
                                <input type="hidden" name="createnewrecord-testing" value="form2">
                                <div class="mb-3">
                                    <label class="form-label">Department</label>
                                    <select class="form-select" name="department" style = "color: #ff66b2"; aria-label="Department" required>
                                        <option selected>Choose department</option>
                                        <option value="Otology">Otology</option>
                                        <option value="Rhinology">Rhinology</option>
                                        <option value="Laryngology">Laryngology</option>
                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label class="form-label">Type of testing</label>
                                    <select class="form-select" name="typetesting" style = "color: #ff66b2"; aria-label="Department" required>
                                        <option selected>Choose type of testing</option>
                                        <option value="CT">CT</option>
                                        <option value="MRI">MRI</option>
                                        <option value="Endoscopic">Endoscopic</option>
                                      </select>
                                </div>
                            </form>
                        </div>
        
                        <div class="modal-footer registerModalFooter">
                            <button id="sumbitRegister" type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>  
                </div>
            </div>
            
        </div>

    </section>
  
    <section class = "MedicalRecord">
        <div class = "textbox1">
            <h2>Medical History</h2>
        </div> 
        <div class="table-wrapper">
            <table class="table table-bordered custom-table">
                <thead>
                    <tr class="table-danger">
                        <th class = "align" style="width: 30%" scope="col">Date</th>
                        <th class = "align" style="width: 40%" scope="col">Diagnose</th>
                        <th class = "align" style="width: 30%" scope="col">Medical Record</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in patient.medicalrecord %}
                    <tr class="table-danger">
                        <td class = "align">{{ record.date }}</td>
                        <td class = "align">{{ record.diagnose }}</td>
                        <td class = "align">
                            <button class="ri-eye-line" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ forloop.counter }}"></button>
                            <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ forloop.counter }}" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content" style="z-index: 1000;">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="exampleModalLabel{{ forloop.counter }}">Medical Record</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body prescriptionHistory">
                                            <div class="basicinfo">
                                                <h6>Status: {{ record.status }}</h6>
                                                <h6>Revisit Day: {{ record.revisit }}</h6>
                                                <h5>Prescription History</h5>
                                                <div class="tablePrescription">
                                                    <table class="table table-bordered prescription-table">
                                                        <thead>
                                                            <tr class="table-danger">
                                                                <th scope="col" style="width:10%;">Date</th>
                                                                <th scope="col" style="width:10%;">Revisit</th>
                                                                <th scope="col" style="width:10%;">Doctor</th>
                                                                <th scope="col" style="width:10%;">Status</th>
                                                                <th scope="col" style="width:40%;">Prescription</th>
                                                                <th scope="col" style="width:20%;">Note</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for pre in record.prescription%}
                                                            <tr class="table-danger">
                                                                <td>{{pre.date}}</td>
                                                                <td>{{pre.revisit}}</td>
                                                                <td>{{pre.doctorname}}</td>
                                                                <td>{{pre.status}}</td>
                                                                <td style ="text-align: left">
                                                                {% for med in pre.medicinelist  %}
                                                                <span style="color: #ff66b2;"> {{med.name}} </span> : {{med.quantity}}<br> Time: {{med.note}} <br> <br> 
                                                                {% endfor %}
                                                                </td>
                                                                <td>{{pre.note}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer prescriptionHistory">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PrescriptionModal" data-record-id = "{{ record.id }}">Add New Prescription</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <div class="modal fade" id="PrescriptionModal" tabindex="-1" aria-labelledby="examplePrescriptionCreate" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="z-index: 1050;">
                <div class="modal-header">
                    <h4 class="modal-title" id="examplePrescriptionCreate">New Prescription</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body PrescriptionCreate">
                    <div class="prescriptionInfo">
                        <div class="prescriptionLeft">
                            <div class="recordid">
                                <h5 id = "recordidinput"></h5>
                            </div>
                            <input type="text" id="myInputMedicine" onkeyup="myFunctionMedicine()" placeholder="Search for names..">
                            <div class="table-wrapper">
                                <table id="myTableMedicine">
                                    <tr class="header">
                                        <th style="width:40%;">Medicine Name</th>
                                        <th style="width:10%;">Quantity</th>
                                        <th style="width:35%; padding-left: 8%">Note</th>
                                        <th style="width:15%;">Action</th>
                                    </tr>
                                    {% for medicine in medicines%}
                                    <tr>
                                        <input type="hidden" class="medicine-id" value= {{ medicine.id }}>
                                        <td>{{ medicine.name }}</td>
                                        <td style ="padding-left: 5%"><input type="number" class="quantity-input" min="0"></td>
                                        <td><input type="text" class="note-input" placeholder=" Enter note"></td>
                                        <td><button onclick="addToMedicineInput(this)">Add</button></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="prescriptionRight">
                            <form id="prescriptionForm" method="POST" > {% csrf_token %}
                                <div class="mb-3">
                                    <label for="prescriptDiagnose" class="form-label">Status</label>
                                    <input class="form-control" name="patientstatus" placeholder="" required>
                                </div>
                                <div class="mb-3">
                                    <label for="prescriptNote" class="form-label">Note</label>
                                    <textarea class="form-control" name="patientnote" placeholder="" required row="1"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Revisit Day</label>      
                                    <input class="form-control" name="revisitdaytext" placeholder="DD/MM/YYY" type="text" required>
                                </div>
                                <div class="table-wrapper">
                                    <table id="selectedMedicineTable" name="patientmedicine" class="table table-bordered custom-table">
                                        <thead>
                                            <tr class="table-danger">
                                                <th scope="col" style="width: 40%;">Medicine Name</th>
                                                <th scope="col" style="width: 10%;">Quantity</th>
                                                <th scope="col" style="width: 35%;">Note</th>
                                                <th scope="col" style="width: 15%;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                        
                                        </tbody>
                                    </table>
                                </div>
                                <textarea id="medicineListInput" name="medicinelist" style="display: none"></textarea>
                                <input type="hidden" id="recordIdInput" name="recordid">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer PrescriptionCreateFooter">
                    <button id="submitButton" type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    document.getElementById("go-back").addEventListener("click", () => {
        history.back();
      });

    $(document).ready(function(){
        var date_input=$('input[name="revisitday"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })

    function myFunctionMedicine() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputMedicine");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTableMedicine");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

    function updateMedicineList() {
        var selectedMedicineTable = document.getElementById('selectedMedicineTable').getElementsByTagName('tbody')[0];
        var rows = selectedMedicineTable.getElementsByTagName('tr');
        var medicineList = [];
    
        for (var i = 0; i < rows.length; i++) {
            var id = rows[i].cells[0].innerHTML;
            var quantity = parseInt(rows[i].cells[2].innerHTML);
            var note = rows[i].cells[3].innerHTML; // Retrieve note from the fourth cell
            medicineList.push(id + ' / ' + quantity + ' / ' + note); // Include note in the medicine list
        }
    
        document.getElementById('medicineListInput').value = medicineList.join(', ');
    }
    
    function addToMedicineInput(button) {
        var row = button.parentNode.parentNode;
        var name = row.cells[0].innerHTML;
        var quantityInput = row.querySelector('.quantity-input');
        var quantity = parseInt(quantityInput.value) || 1;
        if (quantity < 0) {
            alert('Quantity cannot be negative.');
            return;
        }
    
        var noteInput = row.querySelector('.note-input'); // Retrieve note input
        var note = noteInput.value; // Get the value of the note
    
        var medicineId = row.querySelector('.medicine-id').value;
    
        var selectedMedicineTable = document.getElementById('selectedMedicineTable').getElementsByTagName('tbody')[0];
        var rows = selectedMedicineTable.getElementsByTagName('tr');
        var existingRow = null;
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].cells[1].innerHTML === name) {
                existingRow = rows[i];
                break;
            }
        }
    
        if (existingRow) {
            var existingQuantity = parseInt(existingRow.cells[2].innerHTML);
            existingRow.cells[2].innerHTML = existingQuantity + quantity;
        } else {
            var newRow = selectedMedicineTable.insertRow(selectedMedicineTable.rows.length);
            newRow.className = 'table-danger';
    
            var idCell = newRow.insertCell(0);
            idCell.style.display = 'none';
            idCell.innerHTML = medicineId;
    
            var nameCell = newRow.insertCell(1);
            nameCell.innerHTML = name;
    
            var quantityCell = newRow.insertCell(2);
            quantityCell.innerHTML = quantity;
    
            var noteCell = newRow.insertCell(3); // Add cell for the note
            noteCell.innerHTML = note; // Set the note value
    
            var actionCell = newRow.insertCell(4); // Adjust index for action cell
            var removeButton = document.createElement('button');
            removeButton.innerHTML = '<i class="ri-close-fill"></i>';
            removeButton.className = 'remove-button';
            removeButton.onclick = function() {
                selectedMedicineTable.removeChild(newRow);
                updateMedicineList(); // Update medicine list when removing a row
            };
            actionCell.appendChild(removeButton);
        }
    
        quantityInput.value = '';
        noteInput.value = ''; // Clear note input after adding
        updateMedicineList(); // Update medicine list after adding a row
    }    

    $(document).ready(function() {
        // When the PrescriptionModal is shown
        $('#PrescriptionModal').on('show.bs.modal', function(event) {
            // Get the button that triggered the modal
            var button = $(event.relatedTarget);
            // Extract record id from data-record-id attribute
            var recordId = button.data('record-id');
            // Update the record id displayed in the modal
            $('#recordidinput').text('Record ID: ' + recordId);
            $('#recordIdInput').val(recordId);
        });
    });

    document.getElementById("submitButton").addEventListener("click", function() {
        document.getElementById("prescriptionForm").submit();
    });

    document.getElementById("sumbitRegister").addEventListener("click", function() {
        document.getElementById("testingRegister").submit();
    });


</script>
</html>